$white: #fff;
$black: #333;
$border: #555;



.btn {
    width: 150px;
    padding: 20px;
    text-align: center;
    border: solid 1.2px;
    margin: 50px auto;
}

.bg-cover {
    position: relative;
    &::after {
        content: ' ';
        background-color: rgba($color: $black, $alpha: 0.5);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}